body{
    background-color: blanchedalmond;
}

.main{
    display: flex;
    flex-direction: row;
}

.health-guide{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}